<div class="card mb-3 animate__animated animate__fadeIn" style="min-height: 700px; background-color: aliceblue; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
    <div class="row g-0">
        <div class="col-md-4 mt-5 animate__animated animate__fadeIn animate__delay-1s">
            <img src="https://criticalcareinfectiousdiseasesnetwork.wildapricot.org/resources/Documents/2022%20Conference/Website/Buttons/Tips%20Button.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title animate__animated animate__fadeInRight animate__delay-1s" style="text-align: center;">Bienvenido</h1>
                <h3 class="animate__animated animate__fadeInRight animate__delay-1s" style="text-align: center;">Administracion de datos de colegio</h3>
                <h5 class="animate__animated animate__fadeInRight animate__delay-1s" style="text-align: center;">Benjamin Flores Rodriguez</h5>
                <button (click)="navtoalumnos()" class="learn-more animate__animated animate__fadeInRight animate__delay-2s" style="margin-left: 250px; margin-top: 100px;">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Alumnos</span>
                  </button>
                <button (click)="navtoprofesores()" class="learn-more animate__animated animate__fadeInRight animate__delay-3s" style="margin-top: 100px;">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Profesores</span>
                  </button>
                <button (click)="navtogrados()" class="learn-more animate__animated animate__fadeInRight animate__delay-4s" style="margin-left: 250px; margin-top: 100px;">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Grados</span>
                  </button>
                <button (click)="navtoalumnosgrados()" class="learn-more animate__animated animate__fadeInRight animate__delay-5s" style="margin-top: 100px;">
                    <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">AlumnoGrado</span>
                  </button>
            </div>
        </div>
    </div>
</div>